body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url(./img/iyi.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

.box {
	width: 450px;
	background: #b17617;
	border-radius: 5px;
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: #fff;
	font-family: sans-serif;
}

.box img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	cursor: pointer;
	transition: 0.5s;
}
.box img:hover {
	transform: scale(0.9);
}

.box h1 {
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 4px;
}

.box h5 {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 3px;
}

.box p {
	text-align: justify;
}

ul {
	margin: 0;
	padding: 0;
}

.box li {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	list-style: none;
}

.box li a {
	color: #fff;
	font-size: 65px;
	transition: all ease-in-out 250ms;
}
.box li a:hover {
	color: #b9b9b9;
}

.box li a i:hover {
	transform: scale(2, 2);
}
